@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-default;
    @apply h-full;
    font-size: 62.5%;
  }
  body {
    @apply h-full;
    @apply text-2xl 2xl:text-3xl;
  }
  div#root {
    @apply h-full;
  }
  div#container {
    @apply h-full;
  }
}

@layer components {
  .text-input {
    @apply appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 mt-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }
  .select-input {
    @apply appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 mt-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }
  .form-label {
    @apply block uppercase text-gray-700 text-2xl font-bold mb-7;
  }
  .section-title {
    @apply flex justify-center p-4 bg-gray-200;
  }
  .required-tag {
    @apply bg-red-100 bg-requiredTagRed text-white text-sm text-center font-semibold ml-4 px-2.5 py-1 rounded;
  }
  .about-profile-img {
    @apply w-36 h-36 shadow-profileIcon rounded-full;
  }
  .about-profile-sns {
    @apply flex items-center absolute bottom-20 right-10;
  }
}

/* mini profile (info window) */
.mini-profile > .img {
  min-width: 50%;
  max-width: 50%;
}
.profile-text {
  min-width: 50%;
  max-width: 50%;
}
/* スクロールバー非表示 */
::-webkit-scrollbar {
  @apply hidden;
}

.react-datepicker {
  @apply font-normal;
}

/* posting page */
.posting-form {
  box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
}
.thumbnail {
  @apply h-36 relative z-20;
  max-width: 9rem;
}
.petPhoto {
  @apply cursor-pointer w-36 m-2 relative rounded-lg z-0;
  border: solid thin lightgray;
}
input[type='file'] {
  @apply hidden;
}
.required > p {
  @apply absolute bg-requiredTagRed text-white p-1 text-xl rounded-tl-lg z-30;
  top: -1px;
  left: -1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.petPhoto > svg {
  @apply z-10;
  transform: translate(-50%, -50%);
}
.posting-map {
  height: 32rem;
}
.posting-btn {
  @apply flex justify-center w-1/2 p-5 mb-10;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* detail slide page */
.detail-page-btn {
  border-radius: 0 30px 30px 0;
  @apply w-12 h-1/2 top-1/4 -right-12 absolute;
}
.page-slide-show {
  @apply right-0 bottom-0;
}
.posting-detail-info {
  max-width: 60rem;
  transition: 0.8s ease;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.posting-detail-info > ul > li {
  @apply mb-5;
}
.pet-img-slide-section {
  @apply h-2/5;
}
.swiper-container {
  @apply h-full;
}
.swiper-wrapper {
  @apply h-90/100;
}
.swiper-slide {
  @apply h-full flex justify-center;
}
.swiper-pagination {
  @apply m-0;
}
.swiper-pagination-bullet-active {
  @apply bg-black;
}
.img-box {
  @apply h-full flex justify-center;
}
.img-box > img {
  @apply h-full object-cover;
}
table {
  word-wrap: break-all;
}
.pet-name {
  max-width: 40%;
}

/* password check modal */
.modal,
.modal-bg {
  z-index: 999;
}
.modal-btn {
  @apply p-5;
}

/* about modal */
.about-modal {
  width: 600px;
  height: 400px;
}
.about-profile {
  @apply flex flex-col justify-center;
  margin: 0 auto;
}
