@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-input {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }
  .form-label {
    @apply block uppercase text-gray-700 text-xs font-bold mb-2;
  }
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
}
html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
}
body {
  height: 100%;
  font-size: 1.6rem;
}
div#root {
  height: 100%;
}
div#container {
  height: 100%;
}
nav {
  background: #20232a;
}
.react-datepicker {
  font-weight: normal;
}

/* infowindowのデザインを初期化 */
.gm-style .gm-style-iw-c {
  padding: 0px;
  font-size: 1.4rem;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

.mini-profile {
  min-height: 13rem;
  min-width: 20rem;
}

.mini-profile > .img {
  min-width: 60%;
}
.mini-profile > .img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  left: -1.9rem;
  border-radius: 2rem;
}

.profile-text {
  padding: 1rem 1rem 1rem 0;
}
.gm-style {
  font-family: 'Noto Sans JP', sans-serif;
}
