@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-input {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }
  .form-label {
    @apply block uppercase text-gray-700 text-xs font-bold mb-2;
  }
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
}
html {
  height: 100%;
}
body {
  height: 100%;
}
div#root {
  height: 100%;
}
div#container {
  height: 100%;
}
nav {
  background: #20232a;
}
.react-datepicker {
  font-weight: normal;
}
