@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-default;
    font-size: 62.5%;
    @apply h-full;
  }
  body {
    @apply h-full;
    @apply text-3xl;
  }
  div#root {
    @apply h-full;
  }
  div#container {
    @apply h-full;
  }
}

@layer components {
  .text-input {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }
  .form-label {
    @apply block uppercase text-gray-700 text-2xl font-bold mb-4;
  }
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
}

/* infowindowのデザインを初期化 */
.gm-style .gm-style-iw-c {
  @apply p-0;
  @apply text-2xl;
  @apply overflow-visible;
}
.gm-style-iw-d {
  @apply overflow-visible;
}
.gm-style {
  @apply font-default;
}
.gm-ui-hover-effect {
  @apply top-0 !important;
  @apply right-0 !important;
}
.gm-ui-hover-effect > img {
  @apply w-10 !important;
  @apply h-10 !important;
  @apply m-0 !important;
}

/* mini profile (info window) */
.mini-profile > .img {
  min-width: 50%;
  max-width: 50%;
}
.profile-text {
  min-width: 50%;
  max-width: 50%;
}

/* スクロールバー非表示 */
::-webkit-scrollbar {
  @apply hidden;
}

.react-datepicker {
  @apply font-normal;
}

.posting-detail-info {
  transition: 0.8s ease;
}

.posting-detail-info > ul > li {
  @apply mb-5;
}

.slide-show {
  @apply right-0;
}

.detailPageBtn {
  border-radius: 0 30px 30px 0;
}
